<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}"/>

</head>
<body>
<nav>
    <a th:if="${isEmpl}" th:href="@{/user}">Users</a>
    <a th:href="@{/books}">Books</a>
    <a th:href="@{/authors}">Authors</a>
    <a th:if="${isAd}" th:href="@{/user/employeesList}">Employees</a>
    <a th:if="${isUs}" th:href="@{/user/RequestsList}">My books</a>

    <a th:if="${isEmpl}" th:href="@{/requestsList}">Requests</a>
    <a th:if="${isEmpl}" th:href="@{/book/create}">Add book</a>
    <a th:if="${isEmpl}" th:href="@{/author/create}">Add author</a>
    <a th:if="${isAd}" th:href="@{/user/addemployee}">Add employee</a>
</nav>
<form style="margin: 0% 20% 0% 20%" th:action="@{/logout}" method="post">
    <input type="submit" class="buttonStyle buttonStyle-round" value="Sign Out"/>

    <!--<a th:href="@{/user}">List of users</a>-->
</form>
<div class="Blocks" th:each="author : ${authors}">
    <div class="divBookStyle block">
        <div>

            <div th:text="${author.firstName} "></div> <div th:text="${author.secondName}"></div>

        </div>

        <div>
            <form th:if="${isEmpl}" th:action="@{/author/delete}" method="post">
                <input type="hidden" name="id" th:value="${author.id}"/>
                <input class="buttonStyle buttonStyle-round" type="submit" value="Delete"/>
            </form>
            <a th:if="${isEmpl}" th:href="'/author/'+${author.id}">update</a>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>