<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
    <a th:if="${isEmpl}" th:href="@{/user}">Users</a>
    <a th:href="@{/books}">Books</a>
    <a th:href="@{/authors}">Authors</a>
    <a th:if="${isAd}" th:href="@{/user/employeesList}">Employees</a>
    <a th:if="${isUs}" th:href="@{/user/RequestsList}">My books</a>

    <a th:if="${isEmpl}" th:href="@{/requestsList}">Requests</a>
    <a th:if="${isEmpl}" th:href="@{/book/create}">Add book</a>
    <a th:if="${isEmpl}" th:href="@{/author/create}">Add author</a>
    <a th:if="${isAd}" th:href="@{/user/addemployee}">Add employee</a>

</nav>
<form style="margin: 0% 20% 0% 20%" th:action="@{/logout}" method="post">
    <input type="submit" class="buttonStyle buttonStyle-round" value="Sign Out"/>

<!--<a th:href="@{/user}">List of users</a>-->
</form>
<form class="searchInput" th:action="@{/search}" method="post">
    <input class="inputStyle"  type="text" name="search" placeholder="Search...">
    <button type="submit" class="buttonStyle-round buttonStyle">Search</button>
</form>

<div class="Blocks"  th:each="book : ${books}">
    <div class="divBookStyle block">
        <div >
    <!--<div th:text="${book.id}"></div>-->

    <div th:text="${book.title}"></div>
            <div th:text="${book.author.firstName} + ' '+ ${book.author.secondName} "></div>
    <div th:text="${book.yearOfPublishing}"></div>
            <div th:if="${book.genre!=null}" th:text="${book.genre.name}"></div>
            <div th:if="${book.literatureType!=null}" th:text="${book.literatureType.name}"></div>
            <div th:text="${book.numbOfPages}"></div>
            <div th:text="${book.publishingHouse}"></div>



            <div th:if="${book.here!=null&& book.here==true}"><p>Available</p></div>
    <div th:if="${book.here==null|| book.here==false}"><p>NOT available</p></div>
        </div>
        <div>
    <a th:if="${isEmpl}" th:href="'/book/'+${book.id}">update</a>

    <form th:if="${book.here}" th:action="@{/book/choose}" method="post">
        <input type="hidden" name="id" th:value="${book.id}"/>
        <input class="buttonStyle buttonStyle-round" type="submit" value="Choose"/>
    </form>
    <form th:if="${isEmpl}" th:action="@{/book/delete}" method="post">
        <input type="hidden" name="id" th:value="${book.id}"/>
        <input class="buttonStyle buttonStyle-round" type="submit" value="Delete"/>
    </form>

        </div>
    </div>
</div>

</form>

</body>
</html>