<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}"/>
</head>
<body>
<nav>
    <a th:href="@{/user}">List Of users</a>
    <a th:href="@{/requestsList}">List of requests</a>
    <a th:href="@{/books}">Books</a>
    <a th:href="@{/authors}">Authors</a>
    <a th:href="@{/book/create}">Add book</a>
    <a th:href="@{/author/create}">Add author</a>
</nav>
<form style="margin-left: 35%;margin-right: 35%;margin-top: 5%" action="#" th:action="@{/book/update}" th:object="${book}" method="post" class="loginFormStyle">
    <input class="inputStyle" type="hidden" th:field="*{id}"/>
    <input class="inputStyle" type="text" th:field="*{title}" />

    <input class="inputStyle" type="number" th:field="*{yearOfPublishing}" />

    <input class="inputStyle" type="number" th:field="*{numbOfPages}" />
    <input class="inputStyle" type="text" th:field="*{publishingHouse}" />
   <div> <label class="labelStyle"  for="here">In stock</label>
       <input class="inputStyle" type="checkbox" id="here" th:field="*{here}"  /></div>
    <div><label class="labelStyle"  for="author" >Author: </label>

    <select name="authorId" id="author" th:field="*{author}">

        <option th:each="aurhor : ${authors}" th:value="${aurhor.id}" th:text="${aurhor.firstName} +' '+ ${aurhor.secondName}">
        </option>
    </select></div>
    <div>
    <label class="labelStyle"  for="literatureType">Type of Literature: </label>

    <select name="literatureTypeId" id="literatureType" th:field="*{literatureType}">

        <option th:each="literatureType:${literatureTypes}" th:value="${literatureType.id}" th:text="${literatureType.name}">
        </option>
    </select>
    </div>
<div>
    <label class="labelStyle"  for="genre">Genre: </label>
    <select name="genreId" id="genre" th:field="*{genre}" >

        <option th:each="genre:${genres}" th:value="${genre.id}" th:text="${genre.name}">
        </option>
    </select>
</div>
<div>
    <label class="labelStyle"  for="onlyInReadingRoom">Only in reading room</label>
    <input type="checkbox" id="onlyInReadingRoom"  th:field="*{onlyInReadingRoom}"  />
</div>
    <input class="buttonStyle buttonStyle-round" type="submit" value="Update"/>
</form>
</body>
</html>